body {
	margin: 0;
	padding: 0;
	background: #0a69ed; 
}
.carousel{
    height: 600px; 
    perspective: 250px;    
    
}
.carousel .carousel-item {
	width: 450px;
	background: #fff;
	padding: 50px;
	height: auto;
	text-align: center;
    border-radius: 15px;
}
.img-area {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	border: inset 8px deepskyblue;
}
        .img-area img{
            width: 100%;
        }
        .testi p {
	color: #262626;
	font-size: 18px;
	line-height: 1.9;
}
        .testi h4 {
	font-size: 20px;
	margin: 0;
	color: #000;
}
        .testi h5 {
	font-size: 14px;
	letter-spacing: 5px;
	margin: 7px 0;
}
