body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    transition: background-color 0.5s ease;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #screen2 {
    color: #fff;
  }

  #openHealthText {
    font-size: 250px;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: -webkit-linear-gradient(red, #b055de,#12c2e9);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #clickableButton {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }

  .hidden {
    display: none;
  }

  

  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #0ef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }

  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #0ef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #0ef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #0ef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #0ef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #0ef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }

  button:hover {
    background: #000000;
    color: #0ef;
    box-shadow: 0 0 80px #0ef;
  }

  button:hover .star-1 {
    position: absolute;
    top: -20%;
    left: -25%;
    width: 30px;
    height: auto;
    filter: drop-shadow(0 0 10px #0ef);
    z-index: 2;
  }

  button:hover .star-2 {
    position: absolute;
    top: 35%;
    left: -25%;
    width: 20px;
    height: auto;
    filter: drop-shadow(0 0 10px #0ef);
    z-index: 2;
  }

  button:hover .star-3 {
    position: absolute;
    top: 80%;
    left: -10%;
    width: 12px;
    height: auto;
    filter: drop-shadow(0 0 10px #0ef);
    z-index: 2;
  }

  button:hover .star-4 {
    position: absolute;
    top: -25%;
    left: 105%;
    width: 30px;
    height: auto;
    filter: drop-shadow(0 0 10px #0ef);
    z-index: 2;
  }

  button:hover .star-5 {
    position: absolute;
    top: 30%;
    left: 115%;
    width: 20px;
    height: auto;
    filter: drop-shadow(0 0 10px #0ef);
    z-index: 2;
  }

  button:hover .star-6 {
    position: absolute;
    top: 80%;
    left: 105%;
    width: 12px;
    height: auto;
    filter: drop-shadow(0 0 10px #0ef);
    z-index: 2;
  }

  .fil0 {
    fill: #0ef;
  }

  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .glow-button {
    position: relative;
    padding: 22px 35px;
    background: #0ef;
    font-size: 17px;
    font-weight: bolder;
    color: #181818;
    border: 3px solid #0ef;
    border-radius: 40px;
    box-shadow: 0 0 0 #0ef;
    transition: all 0.3s ease-in-out;
    animation: glow 2s infinite alternate; 
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 10px #0ef;
    }
    100% {
      box-shadow: 0 0 25px #0ef;
    }
  }