<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
</head>
<body>
    <div class="container">
        <h1>Breast Cancer Prediction</h1>
        <form action="/bcancer" method="post">
            <label for="texture_mean">Texture Mean:</label>
            <input type="number" step="any" name="texture_mean" required>

            <label for="smoothness_mean">Smoothness Mean:</label>
            <input type="number" step="any" name="smoothness_mean" required>

            <label for="compactness_mean">Compactness Mean:</label>
            <input type="number" step="any" name="compactness_mean" required>

            <label for="concave_points_mean">Concave Points Mean:</label>
            <input type="number" step="any" name="concave_points_mean" required>

            <label for="symmetry_mean">Symmetry Mean:</label>
            <input type="number" step="any" name="symmetry_mean" required>

            <label for="fractal_dimension_mean">Fractal Dimension Mean:</label>
            <input type="number" step="any" name="fractal_dimension_mean" required>

            <label for="texture_se">Texture SE:</label>
            <input type="number" step="any" name="texture_se" required>

            <label for="area_se">Area SE:</label>
            <input type="number" step="any" name="area_se" required>

            <label for="smoothness_se">Smoothness SE:</label>
            <input type="number" step="any" name="smoothness_se" required>

            <label for="compactness_se">Compactness SE:</label>
            <input type="number" step="any" name="compactness_se" required>

            <label for="concavity_se">Concavity SE:</label>
            <input type="number" step="any" name="concavity_se" required>

            <label for="concave_points_se">Concave Points SE:</label>
            <input type="number" step="any" name="concave_points_se" required>

            <label for="symmetry_se">Symmetry SE:</label>
            <input type="number" step="any" name="symmetry_se" required>

            <label for="fractal_dimension_se">Fractal Dimension SE:</label>
            <input type="number" step="any" name="fractal_dimension_se" required>

            <label for="texture_worst">Texture Worst:</label>
            <input type="number" step="any" name="texture_worst" required>

            <label for="area_worst">Area Worst:</label>
            <input type="number" step="any" name="area_worst" required>

            <label for="smoothness_worst">Smoothness Worst:</label>
            <input type="number" step="any" name="smoothness_worst" required>

            <label for="compactness_worst">Compactness Worst:</label>
            <input type="number" step="any" name="compactness_worst" required>

            <label for="concavity_worst">Concavity Worst:</label>
            <input type="number" step="any" name="concavity_worst" required>

            <label for="concave_points_worst">Concave Points Worst:</label>
            <input type="number" step="any" name="concave_points_worst" required>

            <label for="symmetry_worst">Symmetry Worst:</label>
            <input type="number" step="any" name="symmetry_worst" required>

            <label for="fractal_dimension_worst">Fractal Dimension Worst:</label>
            <input type="number" step="any" name="fractal_dimension_worst" required>

            <button type="submit">Submit</button>
        </form>
    </div>

    {% if final_result is defined %}
    <div class="result">
        {% if final_result == 0 %}
            <center><h1>Breast Cancer Not detected</h1></center>
        {% else %}
            <center><h1>Breast Cancer detected</h1></center>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>