<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Breast Cancer Detection</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/bcancer.css"/>
  </head>

  <body>
    <div class="overlay"></div>
    <section><div class="heading"><h2>Breast Cancer Prediction</h2><h2>Breast Cancer Prediction</h2></div></section>

    <div class="bg-text">

      <div class="container">
        <input required="" type="text" name="text" class="input"/>
        <label class="label">Age</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Gender</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Constrictive pericarditis</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Trest BPS</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">cholesterol</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">FBS</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Rest ECG</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Thalach</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Exang</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Old Peak</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Slope</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">CA</label>
      </div>

      <div class="container">
        <input required="" type="text" name="text" class="input" />
        <label class="label">Thal</label>
      </div>

      <div class="container">
        <input type="submit" value="Submit" class="button" />
      </div>

    </div>

    <div class="bg-text1">
      <h2>Results</h2>
      <p>Here are the predicted results based on the provided information.</p>
    </div>

  </body>
</html>