<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Disease Prediction</title>
</head>
<body>
    <h1>Diabetes Prediction</h1>
    <form action="/diabetes" method="post">
        <label for="pregnancies">Pregnancies:</label>
        <input type="number" id="pregnancies" name="pregnancies" required><br><br>
        
        <label for="Glucose">Glucose:</label>
        <input type="number" id="Glucose" name="Glucose" required><br><br>
        
        <label for="BloodPressure">Blood Pressure:</label>
        <input type="number" id="BloodPressure" name="BloodPressure" required><br><br>
        
        <label for="skin_thickness">Skin Thickness:</label>
        <input type="number" id="skin_thickness" name="skin_thickness" required><br><br>
        
        <label for="insulin">Insulin:</label>
        <input type="number" id="insulin" name="insulin" required><br><br>
        
        <label for="BMI">BMI:</label>
        <input type="number" id="BMI" name="BMI" required><br><br>
        
        <label for="DiabetesPedigreeFunction">Diabetes Pedigree Function:</label>
        <input type="number" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" required><br><br>
        
        <label for="Age">Age:</label>
        <input type="number" id="Age" name="Age" required><br><br>
        
        <input type="submit" value="Predict">
    </form>

    {% if final_result %}
    <h2>{{ final_result }}</h2>
    {% endif %}
</body>
</html>