<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\mstyles.css"> <!-- Add the correct path to your CSS file -->
    <title>Your Form Page</title>
</head>

<body class="bg-gray-900 text-white">

    <div class="w-full md:w-96 md:max-w-full mx-auto">
        <div class="p-6 border border-gray-600 sm:rounded-md bg-gray-800">
            <form method="POST" action="https://herotofu.com/start" enctype="multipart/form-data">
                <label class="block mb-6">
                    <span class="text-gray-300">Your photo</span>
                    <input required name="photo" type="file" class="
                        block
                        w-full
                        mt-1
                        focus:border-indigo-300
                        focus:ring
                        focus:ring-indigo-200
                        focus:ring-opacity-50
                        bg-transparent
                        placeholder-gray-600
                        text-gray-300
                      " />
                </label>
                <div class="mb-6">
                    <button type="submit" class="
                        h-10
                        px-5
                        text-indigo-100
                        bg-indigo-700
                        rounded-lg
                        transition-colors
                        duration-150
                        focus:shadow-outline
                        hover:bg-indigo-800
                      ">
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
