<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkinson's Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
</head>
<body>
    <div class="container">
        <h1>Parkinson's Disease Prediction</h1>
        <form action="/parkinsons" method="post">
            <label for="MDVPFO">MDVPfo:</label>
            <input type="number" step="any" name="MDVPFO" required>

            <label for="MDVPFHI">MDVPfhi:</label>
            <input type="number" step="any" name="MDVPFHI" required>

            <label for="MDVPFLO">MDVPflo:</label>
            <input type="number" step="any" name="MDVPFLO" required>

            <label for="MDVPJ">MDVPjitter:</label>
            <input type="number" step="any" name="MDVPJ" required>

            <label for="RPDE">RPDE:</label>
            <input type="number" step="any" name="RPDE" required>

            <label for="DFA">DFA:</label>
            <input type="number" step="any" name="DFA" required>

            <label for="spread2">spread2:</label>
            <input type="number" step="any" name="spread2" required>

            <label for="D2">D2:</label>
            <input type="number" step="any" name="D2" required>

            <button type="submit">Submit</button>
        </form>
    </div>

    {% if final_result is defined %}
    <div class="result">
        {% if final_result == 0 %}
            <center><h1>No Parkinson's Disease detected</h1></center>
        {% else %}
            <center><h1>Parkinson's Disease detected</h1></center>
        {% endif %}
    </div>
    {% endif %}

</body>
</html>