Breast_Cancer_Disease\BCancer_Model.pkl
Breast_Cancer_Disease\BCancer_Preprocessor.pkl

Diabetes_Disease\Diabetes_Model.pkl
Diabetes_Disease\Diabetes_Preprocessor.pkl

Heart_Disease\Heart_Model.pkl
Heart_Disease\Heart_Preprocessor.pkl

Parkinsons_Disease\Parkinson_Model.pkl
Parkinsons_Disease\Parkinson_Preprocessor.pkl

Brain_Tumour\BrainModel.h5

Kidney_Disease\Kidney_Model.h5

Liver_Disease\Liver_Model.h5

Lung_Disease\Lung_Model.h5

Artifacts\Malaria_Disease\Malaria_Model.h5

Ocular_Disease\Ocular_Model.h5

Skin_Cancer\SkinCancer_Model.h5